$primary-color          : #9456DC;
$secondary-color        : #FF79DA;
$tertiary-color         : #99E2D0;

$primary-icon-color     : #353535;
$secondary-icon-color   : #7E7E7E;

$font_family_roboto            : 'Roboto', sans-serif;

// fond size

$fond-size-text    :16px;