.fonctionnement-section{
    padding: 48px 20px 68px 20px;

    @include breakpoint(desktop) {
        display: flex;
         padding: 48px 180px 68px 180px;
         flex-direction: column;
         align-content: center;
         gap: 25px;
         flex-wrap: wrap;
         text-align: left;
      }

    .fonct-card{
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        gap: 25px;

        @include breakpoint(desktop) {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            padding-left: 12px;
          }
    }

    .fonctionnement{
        background-color: #f6f6f6;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
        position: relative;
        box-sizing: border-box;
        padding: 20px 20px;
        border: none;

        @include breakpoint(desktop) {
            height: 72.379px;
            flex-shrink: 0;
            border-radius: 20px;
            background: #f6f6f6;
          }
    }

    .chiffre{
        font-size: 14px;
        font-weight: 500;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 25px;
        height: 25px;
        left: -12px;
        border-radius: 50px;
        background-color: #9456DC;
    }

    .fonctionnement i{
        flex-shrink: 0;
        font-weight: 900;
        font-size: 20px;
        transform: translate(20px);
    }
    
    .fonctionnement p{
        font-size: 16px;
        color: #000;
        font-style: normal;
        line-height: normal;
        font-family: 'roboto';
        transform: translate(30px);
    }

    .fa-store{
        color: #9456DC;
    }
}


