.fonctionnement-section{
    padding: 48px 20px 68px 20px;

    .fonct-card{
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        gap: 25px;
    }

    .fonctionnement{
        background-color: #f6f6f6;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
        position: relative;
        box-sizing: border-box;
        padding: 20px 20px;
        border: none;
    }

    .chiffre{
        font-size: 14px;
        font-weight: 500;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 25px;
        height: 25px;
        left: -12px;
        border-radius: 50px;
        background-color: #9456DC;
    }

    .fonctionnement i{
        flex-shrink: 0;
        font-weight: 900;
        font-size: 20px;
        transform: translate(20px);
    }
    
    .fonctionnement p{
        font-size: 16px;
        color: #000;
        font-style: normal;
        line-height: normal;
        font-family: 'roboto';
        transform: translate(30px);
    }

    .fa-store{
        color: #9456DC;
    }
}


