

.footer-active{
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding: 20px 20px;
    gap: 16px;
    align-items: flex-start;

    @include breakpoint(desktop) {
        padding: 30px 25px;
        justify-content: flex-end;
        align-items: flex-end;
        flex-shrink: 0;
        background: #353535;
    
      }
    .footer-logo{
        font-weight: 400;
        font-size: 18px;
        color: white;
    }
    
    .footer-nav{
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 17px;
        font-weight: 300;
        list-style-type: none;
        transform: translateX(-40px);

        @include breakpoint(desktop) {
            display: flex;
            align-items: flex-start;
            gap: 7px;
            flex-direction: column;
            font-size: 16px;
            font-weight: 300;
          }
        
    }

    .footer-nav-gros{
        display: flex;
        justify-content: flex-start;
        gap: 11px;
        font-weight: 500;
        list-style-type: none;
        color: white;
        transform: translateY(-30px);
    }
    
    .footer-nav-gros a{
        text-decoration: none;
        color: white;
      

    }

    .Mentions a{
        text-decoration: none;
        color: white;
       
    }

    .Contact a {
        text-decoration: none;
        color: white;
        
    }

    .Mentions{
        transform: translateY(-30px);
    }

    .Contact{
        transform: translateY(-30px); 
    }

    
}

