
.btn{
    border-radius: 25px;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient($secondary-color, $primary-color);
    box-shadow: 0 2PX 4PX rgba( 0, 0, 0, 0.15);
    margin: 27px 75px 57px 82px;
    padding: 20px;
    position: relative;
    border: none;
    cursor: pointer;
    transition: opacity 250ms;
    transform: scale(1);
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.3s;
    opacity: 1;
}
.btn:hover{
    background-color: $secondary-color;
    box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
    opacity: 0.75;
}

.btn:active{
    background-color: $secondary-color;
    border-radius: 25px;
}