.btn{
    border-radius: 25px;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background: #9456DC;
    box-shadow: 0 2PX 4PX rgba( 0, 0, 0, 0.15);
    margin: 27px 75px 57px 82px;
    padding: 20px;
    position: relative;
    top: -40px;
    border: none;
    cursor: pointer;
}